name: release

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # https://what-version-of-node.js.org/
        node-version: [16.x, 18.x, 20.x] # remember to update this when support is added/dropped
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: 18 # remember to update this when support is added/dropped
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: npm run test
        env:
          AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
          INT_TEST_USERNAME: ${{secrets.INT_TEST_USERNAME}}
          INT_TEST_PASSWORD: ${{secrets.INT_TEST_PASSWORD}}
          INT_TEST_POOL_ID: ${{secrets.INT_TEST_POOL_ID}}
          INT_TEST_CLIENT_ID: ${{secrets.INT_TEST_CLIENT_ID}}
          INT_TEST_SECRET_ID: ${{secrets.INT_TEST_SECRET_ID}}
          INT_TEST_AWS_REGION: ${{secrets.INT_TEST_AWS_REGION}}

  github-release:
    runs-on: ubuntu-latest
    needs: [test]
    steps:
      - uses: google-github-actions/release-please-action@v3
        id: release
        with:
          default-branch: main
          release-type: node
      - run: |
          echo releases_created: ${{steps.release.outputs.releases_created}}
          echo upload_url: ${{steps.release.outputs.upload_url}}
          echo html_url: ${{steps.release.outputs.html_url}}
          echo tag_name: ${{steps.release.outputs.tag_name}}
          echo major: ${{steps.release.outputs.major}}
          echo minor: ${{steps.release.outputs.minor}}
          echo patch: ${{steps.release.outputs.patch}}
          echo sha: ${{steps.release.outputs.sha}}
          echo pr: ${{steps.release.outputs.pr}}
          echo prs: ${{steps.release.outputs.prs}}
    outputs:
      releases_created: ${{steps.release.outputs.releases_created}}
