name: test

on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # https://what-version-of-node.js.org/
        node-version: [16.x, 18.x, 20.x] # remember to update this when support is added/dropped
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: 18 # remember to update this when support is added/dropped
      - run: npm ci
      - run: npm run lint
      - run: npm run build
      - run: npm run test
        env:
          AWS_ACCESS_KEY_ID: ${{secrets.INT_TEST_USERNAME}}
          AWS_SECRET_ACCESS_KEY: ${{secrets.INT_TEST_USERNAME}}
          INT_TEST_USERNAME: ${{secrets.INT_TEST_USERNAME}}
          INT_TEST_PASSWORD: ${{secrets.INT_TEST_PASSWORD}}
          INT_TEST_POOL_ID: ${{secrets.INT_TEST_POOL_ID}}
          INT_TEST_CLIENT_ID: ${{secrets.INT_TEST_CLIENT_ID}}
          INT_TEST_SECRET_ID: ${{secrets.INT_TEST_SECRET_ID}}
          INT_TEST_AWS_REGION: ${{secrets.INT_TEST_AWS_REGION}}
